ul.publications {
  list-style: none;
  padding-left: 0;
}

li.publications {
  position: relative;
  padding-left: 2.5rem;
}

.publication-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.publication-icon img {
  width: 2.25rem;
  height: 2.25rem;
  height: auto;
  display: block;
}